*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    background-image: url('../img/graveyardtilesetnew/png/BG.png');
    background-size: contain;
}
#player{
    background-image: url('../img/templerun/Idle__000.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 127px;
    position: absolute;
    bottom:450px;
    z-index: 999;
}
#ground{
   
    background-image: url('../img/graveyardtilesetnew/png/Tiles/Tile\ \(2\).png');
    height: 100px;
    
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
   
}
.turn{
    transform: rotateY(180deg);
}

#birds{
    width: 200px;
    height: 200px;
    //background-color: wheat;
    position: absolute;
    right: 0;
    
}